.formats
  &__name
    margin-bottom: 100px
  &__table
    width: 100%
    table
      width: 100%
      font-size: 1.6rem
      font-family: $SFMedium
      line-height: 1.1
      color: $black
    &--header
      text-align: left
      padding-bottom: 53px
      font-size: 20px
      font-weight: normal
      width: calc(100% / 3)
    &--title
      font-family: $SFRegular
    &--row
      display: flex
      justify-content: space-between
      padding-top: 28px
      padding-bottom: 28px
      border-bottom: 1px solid #E7E7E7
      &:first-child
        padding: 0
      &:last-child
        border: none
        padding-bottom: 0
    &--column
      width: calc(100% / 3)
      padding-left: 15px