.reviews
  margin-bottom: 75px
  &__name
    margin-bottom: 100px
  &__slider
    padding: 0 30px
    &--item
      padding: 0 20px
    &--header
      display: flex
    img
      width: 50px
      height: 50px
      margin-right: 25px
    &--info
      padding-top: 
      display: flex
      flex-direction: column
      justify-content: space-between
      margin-bottom: 50px
    &--title
      font-size: 2rem
      font-family: $CenturyMedium
      font-weight: 700
      color: $black
      margin-bottom: 10px
    &--date
      font-size: 1.6rem
      font-family: $CenturyRegular
      color: $black
      opacity: 0.4
    &--text
      font-size: 1.6rem
      line-height: 3rem
      font-family: $CenturyRegular
      color: $black
    .slick-arrow
      width: 15px
      height: 15px
      z-index: 2
      top: calc(50% - 15px)
      background-color: #fff
      border: none
      background-image: url(../img/icon/slider_icon.svg)
      background-repeat: no-repeat
      cursor: pointer
      transition: 0.1s
      &::before
        display: none
      &:active
        transform: scale(1.1) translateX(-2px)
        transition: 0.1s
    .slick-next
      transform: rotate(180deg)
      top: calc(50% - 30px)
      &:active
        transform: scale(1.1) rotate(180deg) translateX(-2px)
        transition: 0.1s

@media screen and (max-width: 460px)
  .reviews__slider 
    padding: 0
    .slick-arrow
      width: 25px
      height: 25px
@media screen and (max-width: 425px)
  .reviews__slider
    &--info
      margin-bottom: 30px
    &--item
      padding: 0 25px  
    .slick-next 
      right: -15px
    .slick-prev
      left: -15px