
@font-face 
  font-family: 'Poppins Medium'
  src: url('../fonts/Poppins-Medium.eot')
  src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins-Medium.woff') format('woff'),
  url('../fonts/Poppins-Medium.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'CenturyRegular'
  src: url('../fonts/CenturyGothic.eot')
  src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic.woff') format('woff'),
  url('../fonts/CenturyGothic.ttf') format('truetype')
  font-weight: normal
  font-style: normal

  
@font-face 
  font-family: 'CenturyMedium'
  src: url('../fonts/CenturyGothic.eot')
  src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic.woff') format('woff'),
  url('../fonts/CenturyGothic.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'century-regular'
  src: url('../fonts/century-normal.eot')
  src: url('../fonts/century-normal.eot?#iefix') format('embedded-opentype'),
  url('../fonts/century-normal.woff') format('woff'),
  url('../fonts/century-normal.woff2') format('woff2'),
  url('../fonts/century-normal.ttf') format('truetype')
  font-weight: normal
  font-style: normal
@font-face 
  font-family: 'bebasneuebold'
  src: url('../fonts/bebasneuebold.woff') format('woff'),
  url('../fonts/bebasneuebold.woff2') format('woff2'),
  url('../fonts/bebasneueboldl.ttf') format('truetype')
  font-weight: normal
  font-style: normal

$popinsMedium: 'Poppins Medium', 'Arial', sans-serif
$CenturyRegular: 'CenturyRegular', 'Arial', sans-serif
$CenturyMedium: 'CenturyMedium', 'Arial', sans-serif
$centuryRegular: 'century-regular', 'Arial', sans-serif
$bebasneueBold: 'bebasneuebold', 'Arial', sans-serif