<section class="about" id="about">
  <div class="about__name section__name">
    <h3 class="about__name--subtitle subtitle">#2 - ABOUT ME</h3>
    <h2 class="about__name--title title">КТО Я?</h2>
  </div>
  <div class="about__content">
    <div class="about__content--left">
      <p class="about__content--text">Я Настя Виноградова, визажист и блогер. В профессии с 2016 года. Сделала макияж
        более 1000 девушкам, прошла 11 мастер классов. Веду блог в инстаграм, на который подписано порядка 90 тысяч
        подписчиц и подписчиков. В блоге я пишу статьи и обзоры на косметику, выкладываю фото с идеями макияжей. Также
        снимаю короткие обучающие видео с процессом создания макияжей для ютуб канала.</p>
      <div class="about__social">
        <a href="#" class="about__social--inst about__social--icon">
          <svg
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20"
            viewBox="0 0 20 20">
            <defs>
              <clipPath id="clip-path">
                <rect id="Rectangle_21" data-name="Rectangle 21" width="20" height="20" transform="translate(278 1536)"
                  fill="#e86556" />
              </clipPath>
            </defs>
            <g id="Mask_Group_15" data-name="Mask Group 15" transform="translate(-278 -1536)"
              clip-path="url(#clip-path)">
              <g id="instagram_1_" data-name="instagram (1)" transform="translate(278 1536)">
                <path id="Path_6" data-name="Path 6"
                  d="M14.586,0H5.414A5.42,5.42,0,0,0,0,5.414v9.172A5.42,5.42,0,0,0,5.414,20h9.172A5.42,5.42,0,0,0,20,14.586V5.414A5.42,5.42,0,0,0,14.586,0ZM10,15.469A5.469,5.469,0,1,1,15.469,10,5.475,5.475,0,0,1,10,15.469Zm5.6-9.648a1.616,1.616,0,1,1,1.616-1.616A1.618,1.618,0,0,1,15.6,5.821Zm0,0"
                  fill="#e86556" />
                <path id="Path_7" data-name="Path 7" d="M10,5.7A4.3,4.3,0,1,0,14.3,10,4.3,4.3,0,0,0,10,5.7Zm0,0"
                  fill="#e86556" />
              </g>
            </g>
          </svg>
        </a>
      </div>
    </div>
    <div class="about__slider">
      <div class="about__slider--item">
        <div>
          <picture>
            <source srcset="img/background/about_slider_1@2x.jpg" media="(min-width: 1200px)">
            <img class="about__slider--image" src="img/background/about_slider_1.jpg" alt="MDN">
          </picture>
        </div>
        <div>
          <picture>
            <source srcset="img/background/about_slider_1@2x.jpg" media="(min-width: 1200px)" loading="lazy">
            <img class="about__slider--image" src="img/background/about_slider_1.jpg" loading="lazy" alt="MDN">
          </picture>
        </div>
        <div>
          <picture>
            <source srcset="img/background/about_slider_1@2x.jpg" media="(min-width: 1200px)" loading="lazy">
            <img class="about__slider--image" src="img/background/about_slider_1.jpg" loading="lazy" alt="MDN">
          </picture>
        </div>
        <div>
          <picture>
            <source srcset="img/background/about_slider_1@2x.jpg" media="(min-width: 1200px)" loading="lazy">
            <img class="about__slider--image" src="img/background/about_slider_1.jpg" loading="lazy" alt="MDN">
          </picture>
        </div>
        <div>
          <picture>
            <source srcset="img/background/about_slider_1@2x.jpg" media="(min-width: 1200px)" loading="lazy">
            <img class="about__slider--image" src="img/background/about_slider_1.jpg" loading="lazy" alt="MDN">
          </picture>
        </div>
      </div>
      <div class="about__slider--controls">
        <span class="about__slider--border"></span>
        <div class="about__slider--counter"></div>
      </div>
      <div class="about__bg">
      </div>
    </div>
  </div>
  <div class="section__number">
    02
  </div>
</section>