<section class="annoucment" id="annoucment">
  <div class="annoucment__slider">
    <div class="annoucment__slider--item">
      <div>
        <picture>
          <source srcset="img/background/annoucment_slider_1@2x.png" media="(min-width: 1200px)">
          <img class="annoucment__slider--image" src="img/background/annoucment_slider_1.png" alt="MDN">
        </picture>
      </div>
      <div>
        <picture>
          <source srcset="img/background/annoucment_slider_1@2x.png" media="(min-width: 1200px)">
          <img class="annoucment__slider--image" src="img/background/annoucment_slider_1.png" alt="MDN">
        </picture>
      </div>
      <div>
        <picture>
          <source srcset="img/background/annoucment_slider_1@2x.png" media="(min-width: 1200px)">
          <img class="annoucment__slider--image" src="img/background/annoucment_slider_1.png" alt="MDN">
        </picture>
      </div>
      <div>
        <picture>
          <source srcset="img/background/annoucment_slider_1@2x.png" media="(min-width: 1200px)">
          <img class="annoucment__slider--image" src="img/background/annoucment_slider_1.png" alt="MDN">
        </picture>
      </div>
    </div>
     <div class="annoucment__slider--controls">
       <div class="annoucment__slider--dots"></div>
     </div>
    <h2 class="annoucment__title">ПО<span class="annoucment__title--white">ДЧЕРКНИ</span><br>
      СВ<span class="annoucment__title--white">ОЮ КРАСОТУ</span></h2>
  </div>
  <div class="annoucment__left-nav">
    <span class="annoucment__watermark"><svg
        viewBox="0 0 23 342">
        <text id="_2020_Makeup_by_Vinogradova" data-name="© 2020 Makeup by Vinogradova"
          transform="translate(17 171) rotate(-90)" fill="#181717" font-size="16" font-family="Poppins-Medium, Poppins"
          font-weight="500" letter-spacing="0.19em">
          <tspan x="-170.144" y="0">© 2020 Makeup by Vinogradova</tspan>
        </text>
      </svg>
    </span>
    <div class="annoucment__number">
      01 
    </div>
  </div>
  <div class="annoucment__mobile">
    <div class="annoucment__mobile--bg">
       <h2 class="annoucment__title">ПО<span class="annoucment__title--white">ДЧЕРКНИ</span><br>
         СВ<span class="annoucment__title--white">ОЮ</span><br>КР<span class="annoucment__title--white">АСОТУ</span>
       </h2>
    </div>
  </div>
  <div class="annoucment__bg">
    <div class="annoucment__bg--image"></div>
  </div>
</section>