<section class="courses" id="courses">
  <div class="courses__name section__name">
    <h3 class="courses__name--subtitle subtitle">#3 - My courses</h3>
    <h2 class="courses__name--title title">МОИ КУРСЫ</h2>
  </div>
  <div class="courses__list">
    <div class="courses__item">
      <div class="courses__item--name">
        <p>«Макияж для себя»</p>
      </div>
      <div class="courses__item--description">
        Курс «Макияж для себя» разработан для женщин, которые не умеют делать макияж, но хотят научиться. И не важно,
        вам 16 или 56 Занятия проходят в группах до 5 человек. Курс включает 4 занятия.
      </div>
      <div class="courses__item--button">
        <p>УЗНАТЬ ПОДРОБНЕЕ</p>
      </div>
    </div>
    <div class="courses__item">
      <div class="courses__item--name">
        <p>«Макияжный марафон»</p>
      </div>
      <div class="courses__item--description">
        В рамках «Макияжных марафонов» участники учатся создавать несколько
        макияжей по программе марафона адаптируя их под свою внешность.
      </div>
      <div class="courses__item--button">
       <p>УЗНАТЬ ПОДРОБНЕЕ</p>
      </div>
    </div>
    <div class="courses__item">
      <div class="courses__item--name">
        <p>Мастер класс</p>
      </div>
      <div class="courses__item--description">
        Длительность мастер класса 2,5-3 часа. В течении 1,5-2 часов я создам
        макияж на лице модели, комментируя каждый этап и косметический продукт.
      </div>
      <div class="courses__item--button">
        <p>УЗНАТЬ ПОДРОБНЕЕ</p>
      </div>
    </div>
  </div>
  <div class="section__number">
    03
  </div>
</section>