<footer class="footer">
  <div class="footer__logo">
    <svg xmlns="http://www.w3.org/2000/svg" width="184" height="36" viewBox="0 0 184 36">
      <text id="COOL_MAKEUP" data-name="COOL MAKEUP" transform="translate(92 27)" fill="#fff" font-size="30"
        font-family="BebasNeueBold, Bebas Neue" letter-spacing="0.19em">
        <tspan x="-91.23" y="0">COOL MAKEUP</tspan>
      </text>
    </svg>
  </div>
  <ul class="footer__nav">
    <li class="footer__nav--item"><a href="#about" class="footer__nav--link">Обо мне</a></li>
    <li class="footer__nav--item"><a href="#course" class="footer__nav--link">Курсы</a></li>
    <li class="footer__nav--item"><a href="#formats" class="footer__nav--link">Формат обучения</a></li>
    <li class="footer__nav--item"><a href="#reviews" class="footer__nav--link">Отзывы</a></li>
    <li class="footer__nav--item"><a href="#contacts" class="footer__nav--link">Контакты</a></li>
  </ul>
  <form method="post" action="" name="footer-form" class="footer__form" id="footer-form">
    <div class="footer__form--group">
      <input class="footer__form--input" type="text" name="input" placeholder="Ваш e - mail" id="footer__form--input" minlength="1" required />
      <label for="footer__form--input">Ваш e - mail</label>
    </div>
    <input type="button" name="e-mail" class="footer__form--button" id="footer__form--button" value="Подписаться на рассылку" disabled="true" /> 
  </form>
  <p class="footer__copyright">© 2020 Makeup by Vinogradova</p>
</footer>