<section class="formats" id="formats">
  <div class="formats__name section__name">
    <h3 class="formats__name--subtitle subtitle">#4 - training format</h3>
    <h2 class="formats__name--title title">ФОРМАТ ОБУЧЕНИЯ НА КУРСЕ «МАКИЯЖ ДЛЯ СЕБЯ»</h2>
  </div>
  <div class="formats__table">
    <table>
      <tbody>
        <tr class="formats__table--row">
          <th class="formats__table--header">Наименование</th>
          <th class="formats__table--header">Индивидуал</th>
          <th class="formats__table--header">В группе</th>
        </tr>
        <tr class="formats__table--row">
          <td class="formats__table--column formats__table--title">Цена 1 занятия</td>
          <td class="formats__table--column">3000 р.</td>
          <td class="formats__table--column">2000 р.</td>
        </tr>
        <tr class="formats__table--row">
          <td class="formats__table--column formats__table--title">Кол-во участников</td>
          <td class="formats__table--column">1</td>
          <td class="formats__table--column">2-5</td>
        </tr>
        <tr class="formats__table--row">
          <td class="formats__table--column formats__table--title">Разбор косметички</td>
          <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon" alt="Включено в программу"></td>
          <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon" alt="Включено в программу"></td>
        </tr>
        <tr class="formats__table--row">
          <td class="formats__table--column formats__table--title">Обсуждение теории</td>
          <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon" alt="Включено в программу"></td>
          <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon" alt="Включено в программу"></td>
        </tr>
        <tr class="formats__table--row">
          <td class="formats__table--column formats__table--title">Рабочая тетрадь</td>
          <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon" alt="Включено в программу"></td>
          <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon" alt="Включено в программу"></td>
        </tr>
        <tr class="formats__table--row">
          <td class="formats__table--column formats__table--title">Кол-во занятий</td>
          <td class="formats__table--column">Зависит от Ваших потребностей</td>
          <td class="formats__table--column">4</td>
        </tr>
        <tr class="formats__table--row">
          <td class="formats__table--column formats__table--title">Длительность занятий</td>
          <td class="formats__table--column">1-е занятие 3 часа, последующие 2</td>
          <td class="formats__table--column">1-е занятие 3 часа, последующие 2,5</td>
        </tr>
        <tr class="formats__table--row">
          <td class="formats__table--column formats__table--title">Подбор макияжей под Вашу внешность</td>
          <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon" alt="Включено в программу"></td>
          <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon" alt="Включено в программу"></td>
        </tr>
        <tr class="formats__table--row">
          <td class="formats__table--column formats__table--title">Индивидуальный подбор косметики для Вас</td>
          <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon" alt="Включено в программу"></td>
          <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon" alt="Включено в программу"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="section__number">
    04
  </div>
</section>