<header class="header">
  <nav class="header__wrapper">
    <div class="header__logo">
      <div class="header__logo--border">
        <svg xmlns="http://www.w3.org/2000/svg" width="83" height="1" viewBox="0 0 83 1">
          <line id="Line_2" data-name="Line 2" x1="83" transform="translate(0 0.5)" fill="none" stroke="#181717"
            stroke-width="1" />
        </svg>
      </div>
      <a href="#" class="header__logo--link">
        <div class="header__logo--item">
          <h1>COOL MAKEUP</h1>
        </div>
      </a>
    </div>
    <ul class="header__nav">
      <li class="header__nav--item"><a href="#about" class="header__nav--link scrollto">Обо мне</a></li>
      <li class="header__nav--item"><a href="#courses" class="header__nav--link scrollto">Курсы</a></li>
      <li class="header__nav--item"><a href="#formats" class="header__nav--link scrollto">Формат обучения</a></li>
      <li class="header__nav--item"><a href="#reviews" class="header__nav--link scrollto">Отзывы</a></li>
      <li class="header__nav--item"><a href="#footer" class="header__nav--link scrollto">Контакты</a></li>
    </ul>
    <div class="header__button">
      <p>ЗАПИСАТЬСЯ НА КУРС</p>
    </div>
    <div class="header__phone">
      <div class="btn">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
      <div class="nav-bar hidden">
        <ul class="header__phone--menu">
          <li class="header__phone--item"><a href="#about" class="header__phone--link scrollto">Обо мне</a></li>
          <li class="header__phone--item"><a href="#courses" class="header__phone--link scrollto">Курсы</a></li>
          <li class="header__phone--item"><a href="#formats" class="header__phone--link scrollto">Формат обучения</a></li>
          <li class="header__phone--item"><a href="#reviews" class="header__phone--link scrollto">Отзывы</a></li>
          <li class="header__phone--item"><a href="#footer" class="header__phone--link scrollto">Контакты</a></li>
          <li class="header__phone--button">
            <p>ЗАПИСАТЬСЯ НА КУРС</p>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>