<div class="modal fade" id="modal-yourself" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="btn btn-default btn-cancel modal__close" data-dismiss="modal">
        <img src="img/icon/notify-close.png" alt="Закрыть модальное окно">
      </button>
      <div class="modal__name">
        <p>«Макияж для себя»</p>
      </div>
      <div class="modal__description">
        <p>Курс «Макияж для себя» разработан для женщин, которые не умеют делать макияж, но хотят научиться. И не
        важно, вам 16 или 56. Занятия проходят в группах до 5 человек. Курс включает 4 занятия. Занятия длятся 1,5 - 2
        часа. Стоимость обучения <strong>15000 руб</strong>.</p> 
        <p>Как проходит обучение. На первом занятии разбираем вашу косметичку, я
        читаю теоретическую лекцию о цветах и их сочетании, подготовке кожи к макияжу, косметике и кистях. Разбираем
        ваш цветотип, форму лица и тип кожи. На следующих занятиях вы учитесь делать себе макияж под моим
        руководством. На одной стороне вашего лица я показываю как делать макияж, на второй стороне лица вы
        повторяете, если что-то не получается, я корректирую и озвучиваю ваши ошибки. В процессе обучения вы
        пользуетесь разными марками косметиками (и люксовыми, и массмаркетом, и профессиональными). Чтоб вы могли
        попробовать новую для себя косметику и сформировать ассортимент вашей косметички, который подойдет именно
        вам. По итогу обучения вы будете уметь подбирать цвета и текстуры косметики, которая будет подходить именно
        вам.</p> 
        <p>Вы будете покупать косметику и кисти, которыми будете знать как пользоваться. Больше не будете тратить
        деньги на ненужную косметику, так как у вас сложится четкое понимание что вам подходит, а что нет. Вы будете
        уметь делать макияж по трем схемам успешно комбинируя цвета в макияже.</p>
      </div>
      <div class="formats__table">
        <table>
          <tbody>
            <tr class="formats__table--row">
              <th class="formats__table--header">Наименование</th>
              <th class="formats__table--header">Индивидуал</th>
              <th class="formats__table--header">В группе</th>
            </tr>
            <tr class="formats__table--row">
              <td class="formats__table--column formats__table--title">Цена 1 занятия</td>
              <td class="formats__table--column">3000 р.</td>
              <td class="formats__table--column">2000 р.</td>
            </tr>
            <tr class="formats__table--row">
              <td class="formats__table--column formats__table--title">Кол-во участников</td>
              <td class="formats__table--column">1</td>
              <td class="formats__table--column">2-5</td>
            </tr>
            <tr class="formats__table--row">
              <td class="formats__table--column formats__table--title">Разбор косметички</td>
              <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon"
                  alt="Включено в программу"></td>
              <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon"
                  alt="Включено в программу"></td>
            </tr>
            <tr class="formats__table--row">
              <td class="formats__table--column formats__table--title">Обсуждение теории</td>
              <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon"
                  alt="Включено в программу"></td>
              <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon"
                  alt="Включено в программу"></td>
            </tr>
            <tr class="formats__table--row">
              <td class="formats__table--column formats__table--title">Рабочая тетрадь</td>
              <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon"
                  alt="Включено в программу"></td>
              <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon"
                  alt="Включено в программу"></td>
            </tr>
            <tr class="formats__table--row">
              <td class="formats__table--column formats__table--title">Кол-во занятий</td>
              <td class="formats__table--column">Зависит от Ваших потребностей</td>
              <td class="formats__table--column">4</td>
            </tr>
            <tr class="formats__table--row">
              <td class="formats__table--column formats__table--title">Длительность занятий</td>
              <td class="formats__table--column">1-е занятие 3 часа, последующие 2</td>
              <td class="formats__table--column">1-е занятие 3 часа, последующие 2,5</td>
            </tr>
            <tr class="formats__table--row">
              <td class="formats__table--column formats__table--title">Подбор макияжей под Вашу внешность</td>
              <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon"
                  alt="Включено в программу"></td>
              <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon"
                  alt="Включено в программу"></td>
            </tr>
            <tr class="formats__table--row">
              <td class="formats__table--column formats__table--title">Индивидуальный подбор косметики для Вас</td>
              <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon"
                  alt="Включено в программу"></td>
              <td class="formats__table--column"><img src="img/icon/list_done.png" class="formats__table--icon"
                  alt="Включено в программу"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal__description">Не закрывайте это окно! Подождите 2-5 секунд и сайт перекинет вас на банковскую
        платежную систему</div>
      <div class="modal__button--wrapper">
         <a href="#" class="modal__button modal__button--course" data-dismiss="modal">ЗАПИСАТЬСЯ НА КУРС</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-marathon" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="btn btn-default btn-cancel modal__close" data-dismiss="modal">
        <img src="img/icon/notify-close.png" alt="Закрыть модальное окно">
      </button>
      <div class="modal__name">
        <p>«Макияжный марафон»</p>
      </div>
      <div class="modal__description">
        <p>«Макияжных марафон» Дата ближайшего марафона … В рамках «Макияжных марафонов» участники делать макияжи по
        программе марафона адаптируя их под свою внешность.</p> 
        <p>В программу марафона входят:</p>
          <ol>
            <li>естественный макияж «Макияж без макияжа»;</li>
            <li>дневной макияж для работы или учебы;</li> 
            <li>вечерний макияж с акцентом на глаза;</li> 
            <li>макияж с детальной проработкой кожи и яркими губами.</li> 
          </ol>
        <p>Стоимость участия в марафоне <strong>1490 руб</strong>. Цель марафон: научиться
        делать макияж, подобрать косметику которая подходит именно вам и побороться за главный приз - набор косметики
        стоимостью 20 тыс. руб.</p> 
        <p>После регистрации и оплаты, на вашу почту (которую вы укажите при регистрации) будут
        приходить ссылки на вебинарную комнату за 1 час до начала занятий. Будет создан чат участников марафона, в
        котором вам дополнительно будут напоминать о вебинарах. Задания я буду выкладывать 1 раз в 3 дня. У участников
        марафона будет трое суток, чтоб выполнить задание. На 12й день марафон завершится и будет запущено голосование
        за участниц, которые выложили все 4 макияжа в своих аккаунтах инстаграм отметив публикации необходимым хештегом
        (хештег будет указан в чате участников марафона).</p> 
        <p>Доступ к записям марафона будет доступен в течении 30 дней
        начиная с первого дня марафона. По итогу прохождения марафона, я лично выберу лучшие работы 10 участниц. Выкложу
        пост-галерею в инстаграм <a href="https://www.instagram.com/coolmakeup.ru/">@coolmakeup.ru</a> и объявлю голосование в комментариях под постом. Участница, набравшая
        наибольшее количество голосов, выиграет набор косметики на сумму 25 тыс. руб. Дата ближайшего марафона …
        Зарегистрироваться и оплатить участие в марафоне можно кликнув по кнопке «Оплатить участие в марафоне»</p>
        <p>Не закрывайте это окно! Подождите 2-5 секунд и сайт перекинет вас на банковскую
        платежную систему</p>
      </div>
      <div class="modal__button--wrapper">
        <a href="#" class="modal__button" data-dismiss="modal">Оплатить участие в марафоне</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-master" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="btn btn-default btn-cancel modal__close" data-dismiss="modal">
        <img src="img/icon/notify-close.png" alt="Закрыть модальное окно">
      </button>
      <div class="modal__name">
        <p>«Мастер класс»</p>
      </div>
      <div class="modal__description">
        <p>Я провожу мастер-классы на актуальные макияжные темы каждый сезон, то есть 1 раз в 3 месяца. Длительность мастер
        класса 2,5-3 часа. В течении 1,5-2 часов я создам макияж на лице модели, комментируя каждый этап и косметические
        продукты. Затем я отвечу на вопросы аудитории о техниках в макияже, о косметике и на любые другие интересующие
        вопросы. Также процесс создания макияжа будет транслироваться на большой экран.</p> 
        <p>Ближайший мастер класс состоится
        17 мая по адресу проспект Соколова, 46 в анти кафе Циферблат, подробности по телефону <a href=tel:+79895112321>+7(989)511-23-21</a>.
        Стоимость посещения мастер класса 990 руб + посещение антикафе (первые 2 часа 3 руб./мин., 4 часа и более 480
        руб., сюда входят напитки и печеньки в безлимитном количестве). Записаться на мастер класс и оплатить участие
        можно кликнув на кнопку "Оплата".</p>
        <p>Не закрывайте это окно! Подождите 2-5 секунд и сайт перекинет вас на банковскую
        платежную систему</p>
      </div>
      <div class="modal__button--wrapper">
        <a href="#" class="modal__button" data-dismiss="modal">Оплата</a>
      </div>
    </div>
  </div>
</div>