<div class="copyright">
  <div class="copyright__layout"></div>
  <div class="copyright__container">
    <div class="copyright__window">
      <div class="copyright__window--close">
        <img src="img/icon/notify-close.png" alt="Закрыть модальное окно">
      </div>
      <div class="copyright__window--tpl">
        <div class="copyright__window--content">
          <div class="copyright__window--text">
            <p>ООО «ЭлЭф Академия» предоставляет авторам техническую возможность размещения информации на Информационном юридическом портале и не участвует в формировании ее содержания, в связи с этим не несет ответственность за законность их действий и информацию, размещаемую авторами на данном Информационном портале, не гарантирует качество, полноту и достоверность такой информации.</p> 
            <p>Авторы самостоятельно несут ответственность за содержание размещаемой ими информации и законность собственных действий в связи с размещением информации на Информационном портале, вне зависимости от того, какое количество пользователей LF Академии либо третьих лиц получило или могло получить доступ к такой информации.</p>
            <p>ООО «ЭлЭф Академия», до тех пор, пока не будет установлено иное, предполагает, что все права (имущественного и неимущественного характера) на информацию принадлежат разместившему ее на Информационном портале автору или автором получены все необходимые права и/или разрешения на такое размещение; размещение такой информации на Информационном портале не нарушает законные права и интересы третьих лиц. Если размещение какой-либо информации нарушает законные права и интересы третьих лиц, такая информация будет удалена с Информационного портала по первому требованию правообладателя и/или лица, чьи законные права и интересы были нарушены.</p>
            <strong>Претензии, касающиеся информации, размещенной на Информационном портале, могут быть отправлены:</strong>
          </div>
          <div class="copyright__window--feedback">
            <a href="#" class="copyright__window--button">Обратная связь</a>
            <a href="mailto:info@lfacademy.ru" class="copyright__window--email">info@lfacademy.ru</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>