<section class="reviews" id="reviews">
  <div class="reviews__name">
    <h3 class="reviews__name--subtitle subtitle">#5 - Reviews</h3>
    <h2 class="reviews__name--title title">ОТЗЫВЫ УЧЕНИКОВ</h2>
  </div>
  <div class="reviews__slider">
    <div class="reviews__slider--item">
      <div class="reviews__slider--header">
        <img src="img/reviews_avatar--1.png" alt="">
        <div class="reviews__slider--info">
          <p class="reviews__slider--title">Анастасия Терешина</p>
          <p class="reviews__slider--date">05.03.20</p>
        </div>
      </div>
      <div class="reviews__slider--text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="reviews__slider--item">
      <div class="reviews__slider--header">
        <img src="img/reviews_avatar--2.png" alt="">
        <div class="reviews__slider--info">
          <p class="reviews__slider--title">Вероника Ефремова</p>
          <p class="reviews__slider--date">02.01.20</p>
        </div>
      </div>
      <div class="reviews__slider--text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="reviews__slider--item">
      <div class="reviews__slider--header">
        <img src="img/reviews_avatar--1.png" alt="">
        <div class="reviews__slider--info">
          <p class="reviews__slider--title">Анастасия Терешина</p>
          <p class="reviews__slider--date">05.03.20</p>
        </div>
      </div>
      <div class="reviews__slider--text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  <div class="section__number">
    05
  </div>
</section>